.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
  text-align: center;
}

h1 {
  font-family: "Lobster", cursive;
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 4.8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

.btn {
  font-family: "Indie Flower", cursive;

  background-color: #9c060c;
  color: #faf1d7;
  border-style: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 50rem;
  margin: 0;
  display: inline-block;
  margin: 3rem 2rem;
  font-size: 2rem;
  transition: 0.5s;
}

.btn:hover {
  transform: translateY(2px);
  box-shadow: 0 0 10px #222;
}
